h1,
h2,
h3,
body,
p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E7DFD8;
    font-family: "Inter", sans-serif;
    color: #101010;
}

.container {
    margin: 0 auto;
    width: 1119px;
}

.title {
    font-weight: 400;
    font-size: 35px;
    padding: 28px 0;
}

/* Mickey-Mouse */
.mickey-mouse {
    padding: 99px 0;
}

.mickey-container {
    display: flex;
    gap: 107px;
    padding-top: 99px;
}

.mickey-img {
    border-radius: 12px;
}

.mickey-span {
    font-size: 38px;
    background-color: #b99fea;
    border-radius: 74px;
    padding: 20px;
    font-size: 38px;
    line-height: 63%;
    text-align: center;
    color: #101010;
}

.mickey-text {
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 19px;
    line-height: 189%;
    color: #101010;
}

.mickey-text-2 {
    font-weight: 400;
    font-size: 14px;
    color: #101010;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 35px;
    
}

.mickey-link {
    background-color: #b99fea;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

/* Coco */
.coco {
    padding-top: 113px;
    padding-bottom: 112px;
}

.coco-container {
    display: flex;
    gap: 139px;
    flex-direction: row-reverse;
}

.coco-img {
    border-radius: 12px;
}
.coco-text {
    display: flex;
    gap: 21px;
    align-items: center;
    font-size: 19px;
    line-height: 189%;
    color: #101010;
}

.coco-span {
    font-weight: 400;
    font-size: 38px;
    background-color: #eba789;
    border-radius: 100px;
    padding: 20px;
    font-size: 38px;
    line-height: 63%;
    text-align: center;
    color: #101010;
}

.coco-text-2 {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 35px;
}

.coco-link {
    text-decoration: none;
    background-color: #eba789;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    
}

/* Vayana */
.vayna {
    padding-top: 113px;
    padding-bottom: 112px;
}

.vayna-container {
    display: flex;
    gap: 113px;

}
.vayna-text {
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 19px;
    line-height: 189%;
    color: #101010;
}

.vayna-img {
    border-radius: 12px;
}

.vayna-span {
    font-weight: 400;
    font-size: 38px;
    background-color: #96dbc6;
    border-radius: 100px;
    padding: 20px;
    font-size: 38px;
    line-height: 63%;
    text-align: center;
    color: #101010;
}

.vayna-text {
    font-weight: 400;
    font-size: 19px;
}

.vayna-text-2 {
    font-weight: 400;
    font-size: 14px;
    color: #101010;
    margin-bottom: 35px;
}

.vayna-link {
    background-color: #96dbc6;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}